@import url('https://fonts.googleapis.com/css?family=Rajdhani');
@import url('https://fonts.googleapis.com/css?family=Kanit');
@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond');

body {
  height: 300vh;
  padding-bottom: 8vh !important;
  }
  #menu_circle {
  width: 70px;
  display: none;
  float: right;
  z-index: 2;
  }
  @media only screen and (max-width: 768px) {
    #menu_circle {
        display: block;
        position: fixed !important;
        top: 20px;
        right: 20px;
    }
}

a {
  text-decoration: none !important;
}
.menu-container {
  border-top: 3px solid white;
  margin: 0 auto;
  z-index: 1;
  font-size: 20px;
}
@media only screen and (max-width: 768px) {
  .menu-container {
      display: none;
      position: fixed;
      left: 10%;
      width: 80%;
      top: 120px;
      margin: 0 auto !important;

  }
}

.menu-item {
  height: 46px;
  margin: 2px;
  font-weight: 600;
  opacity: 0.8;
  color: white !important;

}
.menu-item a {
  color: white;
}
.banner {
  position: absolute;
  top: 0;
  height: 80vh;
}

.banner-title {
  position: relative;
  top: 180px;
  font-family: 'Rajdhani', sans-serif;
  font-size: 100px !important;
  display: none;
  color: white;
}
@media only screen and (max-width: 768px) {
  .banner-title {
    margin-top: 10vh;
  }
}

.hollow-title {
  height: 1.2em;
}
.banner-button {
  cursor: pointer;
  color: white !important;
  font-weight: 600 !important;
  padding: 20px;
  font-weight: 900;
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 60px;
  margin-top: 28px !important;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 2px;
  transition: box-shadow 0.2s ease-in-out;
  transition: transform 0.2s;
}
.banner-button:hover {
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.48);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.48);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.48);
  transform: scale(1.02);
}

.youtube {
  position: fixed;
  top: 150px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.bio {
  height: 290px;
  margin: 0px 0px 20px 20px;
  border-radius: 5px;
  font-weight: 200;
  font-size: 2em;
  text-align: justify;
  font-family: 'Rajdhani', sans-serif;
  font-weight: 600;
  color: white;
  background-size: 111%;
  transition: all 0.2s;
  transition: box-shadow 0.3s ease-in-out;
}
.bio:hover {
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.48);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.48);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.48);
}
.bio>p {
  position: relative;
  display: block;
  bottom: -85%;
}

@media only screen and (max-width: 768px) {
  .bio {
      margin-left: 0px;
  }
}
.zespol {
  font-family: 'Roboto' sans-serif;
  font-weight: 400;
  font-size: 1.2em;
  overflow: scroll;
  color: rgb(46, 46, 46);
}
.zespol > p {
  margin: 5px;
  position: relative;
  top: 30px;
  margin-bottom: 20px;
}
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 0; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  color: #000;
    margin: 15% auto; /* 15% from the top and centered */
    position: relative;
    top: 100px;
    width: 700px !important;
    display: none;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;

}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


.album {
  background-image: url("../img/album.jpg");
  background-size: cover;
  border-radius: 5px;
  height: 500px;
  -webkit-box-shadow: 0px 0px 28px -5px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 28px -5px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 28px -5px rgba(0,0,0,0.75);
  transition: all 0.3s;
}
.album:hover {
  transform: scale(1.03);
}

.kasia {
  background-image: url("../img/kasia.jpg");
}

.jacek {
  background-image: url("../img/jacek.jpg");
}

.daniel {
  background-image: url("../img/daniel.jpg");
}

.antek {
  background-image: url("../img/antek.jpg");
}

.maciek{
  background-image: url("../img/maciek.jpg");
}


td > a {
  color: #9c482d !important;
}
